.container {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid brown;
    box-sizing: border-box;
}
.wrapper {
    background-color: plum;
    padding: 50px 0;
}
.my__works__container {
    display: grid;

    column-gap: 20%;
}
@media (min-width: 280px) {
    .my__works__container {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 50px;
    }
}
@media (min-width: 820px) {
    .my__works__container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 50px;
    }
}




