.header {
    box-sizing: border-box;
    display: flex;
    padding: 5px;
    width:100%;
}
.wrapper {
    background-color: aqua;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid brown;
}
.menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0;
}
@media (min-width: 280px) {
    .menu {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
}
@media (min-width: 360px) {
    .header {
        justify-content: center;
    }
    .menu {
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 0;
    }
}
@media (min-width: 760px) {
    .menu {
        justify-content: end;
        gap: 10px;
    }
}